## OS
.DS_Store
.DS_Store?
.Trashes
**.Trashes
ehthumbs.db
Thumbs.db

## Xilinx Vivado
**.str
**.jou
.Xil/
.Xilinx/
Projects/
output/
lastbuilt.txt
credentials.sh
VivadoProject
SimulationLib
profpga

## Intel Quartus Prime
Projects
SimulationLib_quartus
*.bak

# Simulator work directory
transcript*
work/
.cxl*

# VSCode Settings
.vscode/**
!.vscode/README.md
